S3method(print,di_band)
S3method(print,di_estimate)
S3method(print,di_set)
export(debiased_kde)
export(debiased_local_linear)
export(density_bandwidth)
export(density_level_set)
export(density_level_set_confidence)
export(hausdorff_distance)
export(inverse_regression)
export(inverse_regression_confidence)
export(invert_confidence_band)
export(kde_confidence_band)
export(level_set)
export(regression_bandwidth)
export(regression_confidence_band)
